<html lang="en">

<head>
  <meta charset="UTF-8" />

  <!-- This is the title which will appear on the tab -->
  <title>Boolean Logic Blaster</title>
  
  <!-- Include Phaser -->
  <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
  
  <!-- Include our CSS stylesheet -->
  <script type="text/css" src="../styles/style.css"></script>
</head>

<body>
  <!-- Outlet for the Phaser game -->
  <div id="game"></div>

  <!-- Include our Phaser Script -->
  <script type="text/javascript" src="../scripts/main.js"></script>
</body>
</html>
